p{
    direction: rtl !important;
}
.toplevel_page_content-area.wp-has-submenu img{
    width: 35px;
    padding-top: 4px!important;
}
#adminmenuback,#adminmenu,#adminmenuwrap{
	background: var(--secondaryColor)!important;
    text-align: right;
}
#adminmenu .wp-submenu{
	background: rgba(3, 3, 4, .9)!important;
}
#adminmenu .wp-menu-image img{
    max-width: 19px;
    margin-top: 5px;
    height: 20px !important;
}
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu{
	background: var(--secondaryColor)!important;
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
    color: var(--secondaryColor)!important;
    font-weight: 500!important;
    background: #fff;
}
#adminmenu .wp-not-current-submenu .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu{
    min-width: 175px;
    width: auto;
    border-left: 5px solid transparent;
}
#adminmenu li{
    text-align: left !important;
}
#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before{
    color: #fff!important;
}
#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus{
    color: #fff!important;

}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,#adminmenu .wp-has-current-submenu div.wp-menu-image:before,#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before{
	color: #fff!important;
}
#adminmenu div.wp-menu-name:hover{
    background: #fff !important;
    color: var(--secondaryColor)!important;
}
#adminmenu a:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .ab-top-menu>li.hover>.ab-item, 
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, 
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, 
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus,
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, 
#wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, 
#wpadminbar>#wp-toolbar li.hover span.ab-label,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before{
    color: var(--secondaryColor)!important;
}
#wp-admin-bar-languages.pll-filtered-languages{
    background: var(--secondaryColor)!important;
}
